
 <div class="jumbotron">
            <h3 style="text-align: center">Share To Social Networks</h3>
            <p>This app is built for share your social activites at one place and that is posted to all Your55 social networks. You can share Posts,Tweets, on the social networks just press one click  </p>
            <p>
            <% unless current_user.token.blank? %> 
              <button  id="status" class="btn btn-primary ">Post on Facebook</button>
            <% end %> 
           <% unless current_user.twitter_token.blank? %> 
              <button  id="pic" class="btn btn-success ">Post on Twiiter</button>
            <% end %>
            </div>
          <hr>
          <div id="mydiv">
          <h3>Post on Twitter</h3>  
            <%= form_for @post, url: "/post" do |f| %>          
              <div class="form-group">
                <%= f.text_area :title,class: "form-control", rows: "3", placeholder: "Write What is in your mind......."%>
                </div>                         
                <label>Please Select Your Image</label>
               <%= f.file_field :image, multiple: true %>
                  <p class="help-block">Example block-level help text here.</p>
              
           <%= f.submit "Submit", class: "btn btn-danger" %> <br>
            <% end %> 
          </div>
          <div id="mydiv1">
            <h3>Post on Facebook </h3>	
            <%= form_for @post, url: "/post" do |f| %>
              <div class="form-group">
                <%= f.text_area :title,class: "form-control", rows: "3", placeholder: "Write What is in your mind......."%>                         
              </div>
              <label>Please Select Your Image</label>
               <%= f.file_field :image, multiple: true %>
                  <p class="help-block">Example block-level help text here.</p>
            <%= f.submit "Submit", class: "btn btn-danger" %> <br>	 	
              <% end %>            
          </div>
          <br>

       <div class="row"> <!--Features -->
      
        <div class="col-sm-4 fbox"> 
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <h3>Easy to Use</h3>
          <p>This app is realy very easy to use. You can use this app to share your posts on your social networks. This app does not contain any complication</p>
          <div id="easy"><p>if you feel it complicated just massage us at the Contact us section we will try to make it more simple</p></div>
          <button id="easybtn" class="btn btn-primary">Read More...</button>
        </div>

        <div class="col-sm-4 fbox">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <h3>Share with Friend</h3>
          <p>varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur varius blandit sit amet non magna.</p>
          <a  href="#" class="btn btn-success">Read More</a>
        </div>

        <div class="col-sm-4 fbox">
       <span class="glyphicon glyphicon-eye-open  " aria-hidden="true"></span>
          <h3>Real Magic</h3>
          <p>varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur varius blandit sit amet non magna.</p>
          <a  href="#" class="btn btn-success">Read More</a>
        </div>

      </div> <!--feture content-->
      <!--how to used section nested grid-->
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <h3>How to used it</h3>
           <p>varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur varius blandit sit amet non magna.varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur varius blandit sit amet non magna.</p>      
           <div class="row">
             <div class="col-sm-6">
              <a href="/welcomes/about" class="btn btn-primary">Know More</a>
             </div>
           
           </div>
        </div>
        <div class="col-sm-6">
          <h3>About Admin</h3>
          <p>varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur varius blandit sit amet non magna.varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur varius blandit sit amet non magna.</p>
           <a  href="/welcomes/about" class="btn btn-primary">Know More</a>
        </div>
      </div>
    
    </div>
    <script>
      $(document).ready(function(){
        // jQuery methods go here...
          $("#pic").click(function(){
            $("#mydiv").toggle(400);
            $("#mydiv1").hide();
            }); 
          $("#status").click(function(){
            $("#mydiv1").toggle(400);
            $("#mydiv").hide();
          });      
          $("#easybtn").click(function () {
            $("#easy").toggle()
          });    
      }); 
    </script>