  <div id="mydiv">
          <h3>Post on Twitter</h3>  
            <%= form_for @post, url: "/post" do |f| %>          
              <div class="form-group">
                <%= f.text_area :title,class: "form-control", rows: "3", placeholder: "Write What is in your mind......."%>
                </div>                         
                <label>Please Select Your Image</label>
               <%= f.file_field :image, multiple: true %>
                  <p class="help-block">Example block-level help text here.</p>
              
           <%= f.submit "Submit", class: "btn btn-danger" %> <br>
            <% end %> 
          </div>
          <div id="mydiv1">
            <h3>Post on Facebook </h3>	
            <%= form_for @post, url: "/post" do |f| %>
              <div class="form-group">
                <%= f.text_area :title,class: "form-control", rows: "3", placeholder: "Write What is in your mind......."%>                         
              </div>
              <label>Please Select Your Image</label>
               <%= f.file_field :image, multiple: true %>
                  <p class="help-block">Example block-level help text here.</p>
            <%= f.submit "Submit", class: "btn btn-danger" %> <br>	 	
              <% end %>            
          </div>