<!DOCTYPE html>
<html>
  <head>
    <title>AuthApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  	<header class="page-header">
  		<h1>Website Logo</h1>
  		<ul class="nav nav-pills">
  			<li> <a href="/">Home</a> </li>
  			<li> <a href="/welcomes/contact">Contact us</a> </li>
  			<li> <a href="/welcomes/about">About Us</a> </li>
  			<% if !user_signed_in? %>
  			<li> <a href="/users/sign_up">Sign Up</a> </li>
  			<%end%>
  				<% if user_signed_in? %>

          
				<li class="pull-right active"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
		
      <li class="pull-right" style="padding: 10px;color: blue;"> Welcome <%= current_user.name %></li>
      	<% else %>
				<li><%= link_to('Login', new_user_session_path)%></li>
			<% end %>
			
      </ul>
			</header>
			<div class="jumbotron">

			<%= yield %>
			</div>
			   <footer class="navbar fixed-footer">
			    	<p>This Website is created By Pardeep</p>
			    </footer>
			  </div>
    
   
  </body>
</html>
